{% extends "layout.html" %}
{% block content %}
<div>
    <div class="grid md:grid-cols-4 grid-cols-2 gap-2 md:gap-4">
        <div class="w-52 h-32 md:w-72 bg-white max-w-xs mx-auto rounded-sm overflow-hidden shadow-lg hover:shadow-2xl transition duration-500 transform hover:scale-100 cursor-pointer">
            <div class="h-10 bg-red-400 flex items-center">
            <p class="mr-0 text-white text-lg pl-5">TRIPS</p>
            </div>
            <div class="flex px-5 pt-3 mb-2 text-sm text-gray-600">
            <p>TOTAL</p>
            </div>
            <p class="text-3xl ml-5">20,456</p>
            <!-- <hr > -->
        </div>
        <div class="w-52 h-32 md:w-72 bg-white max-w-xs mx-auto rounded-sm overflow-hidden shadow-lg hover:shadow-2xl transition duration-500 transform hover:scale-100 cursor-pointer">
            <div class="h-10 bg-green-400 flex items-center">
            <p class="mr-0 text-white text-lg pl-5">TRIP TIME</p>
            </div>
            <div class="flex px-5 pt-3 mb-2 text-sm text-gray-600">
            <p>AVG.</p>
            </div>
            <p class="text-3xl ml-5">{{stations.median_trips[0]}} min.</p>
            <!-- <hr > -->
        </div>
        <div class="w-52 h-32 md:w-72 bg-white max-w-xs mx-auto rounded-sm overflow-hidden shadow-lg hover:shadow-2xl transition duration-500 transform hover:scale-100 cursor-pointer">
            <div class="h-10 bg-blue-400 flex items-center">
            <p class="mr-0 text-white text-lg pl-5">DISTANCE</p>
            </div>
            <div class="flex px-5 pt-3 mb-2 text-sm text-gray-600">
            <p>AVG.</p>
            </div>
            <p class="text-3xl ml-5">{{stations.median_distance[0]}} km.</p>
            <!-- <hr > -->
        </div>
        <div class="w-52 h-32 md:w-72 bg-white max-w-xs mx-auto rounded-sm overflow-hidden shadow-lg hover:shadow-2xl transition duration-500 transform hover:scale-100 cursor-pointer">
            <div class="h-10 bg-indigo-400 flex items-center">
                <p class="mr-0 text-white text-sm md:text-lg pl-5">MOST POPULAR STATION</p>
            </div>
            <div class="flex px-5 pt-3 mb-2 text-lg text-black font-semibold">
                <p>{{stations.popularStation.nameStation[0]}}</p>
            </div>
            <!-- <hr > -->
        </div>
    </div>
    <div class="grid md:grid-cols-2 grid-cols-1 gap-2 md:gap-4 my-6">     
        <div>
            <canvas class="shadow-lg p-7" id="myChart" width="400" height="400"></canvas>
        </div>     
        <div class="grid md:grid-cols-2 grid-cols-1 gap-2 md:gap-2">
            <div><canvas class="shadow-lg p-7" id="myChartI" width="100" height="100"></canvas></div>
            <div><canvas class="shadow-lg p-7" id="myChartII" width="100" height="100"></canvas></div>
        </div>
    </div>
    <div>
        
    </div>
</div>

<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const ctxI = document.getElementById('myChartI').getContext('2d');
    const ctxII = document.getElementById('myChartII').getContext('2d');
    
    const donut = new Chart(ctxI, {
        plugins: [ChartDataLabels],
        type: 'doughnut',
        data: {
            labels: {{gender["genero"] | safe}},
            datasets: [{
                label: 'My First Dataset',
                data: {{gender["tripsGender"]}},
                backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]},
        options: {
            tooltips:{
                enabled:false
            },
            plugins:{
                datalabels:{
                    formatter: function(value, context) {
                        return context.chart.data.datasets[0].data[context.dataIndex] + '%';
                    },
                    display:true,
                    align:"center",
                    color:"white",
                    labels:{
                        title:{
                            font:{
                                size:20,
                                weight:"bold"
                            }
                        }
                    },
                    value:{
                        color:"green"
                    }
                }
            },
            maintainAspectRatio: false
            }
        });

        const myChartI = new Chart(ctxII, {
        type: 'bar',
        data: {
            labels: {{["Mon","Tue","Wed","Thur","Fri","Sat","Sun"] | safe }},
            datasets: [{
                label: '# of Trips per Day',
                data: {{week["trips_per_day"] | safe }},
                backgroundColor: [
                    'rgba(101, 178, 198, 0.2)'
                ],
                borderColor: [
                    'rgba(101, 178, 198, 1)'
                ],
                borderWidth: 1,
                tension: 0.2
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: false,
                    grid:{
                        display:false
                    }
                },
                x:{
                    beginAtZero: true,
                    grid:{
                        display:false
                    }
                    
                }
            },
            maintainAspectRatio: false
        }
    });

    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{trips["listOfDates"] | safe }},
            datasets: [{
                label: '# of Trips',
                data: {{trips["listOfTrips"] | safe }},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)'
                ],
                borderWidth: 1,
                tension: 0.2
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: false,
                    grid:{
                        display:false
                    }
                },
                x:{
                    beginAtZero: true,
                    grid:{
                        display:false
                    }
                    
                }
            },
            maintainAspectRatio: false
        }
    });
</script>
{% endblock %}