<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecobici Dashboard</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2 "></script>
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>

     <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

    <style>
        #mapid{
            height: 380px;
            width: 100%;
        }
        #mapidII{
            height: 380px;
            width: 100%;
        }
        table{
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        tr:nth-child(even){
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <div class="flex justify-start items-center pl-6 py-8 bg-blue-500 mb-5">
        <h1 class="text-white text-2xl font-semibold">Ecobici Dashboard</h1>
        <div class="flex ml-11">
            <div class="md:mr-8 mr-14"><a href="#" class="text-lg text-white hover:underline">About</a></div>
            <div><a href="#" class="text-lg text-white hover:underline">Docs</a></div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>